.btn-info {
    background: #5ab745 !important;
    color: white !important;
}

.btn-info:focus, .btn-warning:focus {
    box-shadow: none !important;
}

.btn-warning:hover, .btn-info:hover {
    border: none !important;
}

.btn-warning, .btn-info {
    border: none !important;
}
.btn-warning {
    background: #adafb2 !important;
    border: none !important;
}

.carrouselLabel {
    user-select: none !important;
    border: none !important;
    background: hsla(175, 8%, 31%, 0.38) !important;
    color: #ffff !important;
}

.carousel-item {
    cursor: pointer !important;
}

.carousel-media {
    max-width: 470px !important;
    max-height: 270px !important;
    min-width: 450px !important;
    min-height: 250px !important;
}